.viewport{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.content{
  background-color: black;
  flex: 1 1 auto;
  height: 100%;
  
  canvas{
    border: 1px solid grey;
    margin: 100px;
  }
}
